<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="xamarinios10" />
  <package id="SampleBrowser.Calculate" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.DataSource" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.DocIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfPopupLayout" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.Presentation" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.PDF" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfAutoComplete" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfBarcode" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfBusyIndicator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfCalendar" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfCarousel" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfProgressBar" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfCircularGauge" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfDataForm" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfDataGrid" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfDiagram" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfDigitalGauge" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfImageEditor" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfKanban" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfLinearGauge" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfListView" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfMaps" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfMaskedEdit" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfNavigationDrawer" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfNumericTextBox" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfNumericUpDown" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfPdfViewer" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfPicker" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfPullToRefresh" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfRadialMenu" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfRangeNavigator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfRangeSlider" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfRating" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfRotator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfSchedule" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfSparkline" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfSunburstChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfTabView" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.SfTreeMap" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="SampleBrowser.XlsIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Calculate" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Compression" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DocIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Presentation" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPopupLayout" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.OfficeChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Pdf" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBarcode" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCarousel" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataForm" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDiagram" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfGauge" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfGridConverter" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfImageEditor" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfKanban" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfMaps" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfMaskedEdit" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPdfViewer" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPicker" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfProgressBar" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRadialMenu" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRating" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfRotator" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSchedule" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSparkline" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfSunburstChart" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfTabView" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfTreeMap" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.XlsIO" version="16.1.0.24" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="xamarinios10" />
</packages>