<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SampleBrowser.Core" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Core" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.DataSource" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.GridCommon" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfListView" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfTabView" version="16.1.0.24" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>